<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LITDucks.Data.Properties.Settings.LITDucksConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=LITDucks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>